# Dependencies
node_modules/

# Dev-tool Configuration Files
.vscode/settings.json
.eslintrc.json
.editorconfig
.prettierrc

# TypeScript Emissions
types/
build/
*.d.ts
*.d.mts
*.d.cts
*.js
*.mjs
*.cjs
*.*.map
*.*.*.map

# Assets (used for development & testing)
assets/
